body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: rgb(239, 121, 37);
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.container {
  padding: 20px;
}

textarea {
  width: 100%;
  height: 350px;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.section {
  width: 48%;
  padding-left: 10px;
}

.section h2 {
  font-size: 30px;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.row img {
  flex-shrink: 0;
}

.row b {
  display: block;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.balance-input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 6px 0;
}

.balance-input-row label {
  width: 150px;
}

.balance-input-row input {
  flex: 1;       
}

.row p {
  margin: 4px 0;
}

input, select, button {
  flex: 0;
  margin: 5px 0;
  padding: 5px;
}

button {
  cursor: pointer;
}

.intro {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.intro img {
  flex-shrink: 0;
}

.intro-text h2 {
  margin: 0;
  font-size: 2em;
  margin-bottom: 30px;
}

.intro-text h3 {
  margin: 5px 0 0;
}

.converter-input-row {
  display: flex;
  align-items: center;
  margin: 6px 0;
  gap: 10px;
}

.converter-input-row label {
  width: 150px;
}
.converter-input-row input {
  flex: 1;       
}

.currency-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}
